[submodule ".emacs.d/major-modes/markdown-mode"]
	path = .machome/emacs/major-modes/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
        ignore = dirty
[submodule ".machome/emacs/plugins/yasnippet"]
	path = .machome/.emacs/plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
        ignore = dirty